html
    head    
        title Home 
    body 
        h1  BEM VINDO A AUTOVENDAS AUTOMOVEIS
        
        <form action = "/carros" method = "get">
            <button>Listagem de carros </button>
        </form>

        br

        <form action = "/carros/form" method = "get">
            <button>Formulario de Carros</button>
        </form>