html
    head    
        title Listagem de Carros 
    body 
        h1 Listagem de Carros
        <form action = "/carros/form" method = "get">
            <button>Formulario de carros </button>
        </form>

        ul Id
            each carro in carros 
                li=carro.id 

        ul Marca
            each carro in carros 
                li=carro.Marca 
        ul Modelo
            each carro in carros 
                li=carro.Modelo
        ul Valor
            each carro in carros 
                li=carro.Valor

p Para deletar um item acesse /carros/deletar/'id'   (id do item para ser deletado)
                        

    